@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

:root {
    --cor-primaria: #000000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;
    --cor-hover: #272727;

    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    
}

.cabecalho {
    padding:  2% 0 0 10%;
}

.cabecalho-menu {

    display: flex;
    gap: 80px;

}

.cabecalho-menu-link {
    display: flex;
    color: var(--cor-terciaria);
    font-size: 1.5rem;
    font-weight: 600;
    font-family: var(--fonte-secundaria);
    text-decoration: none;

}

.conteudo {
    padding: 8% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.conteudo-destaque {
    color: var(--cor-terciaria);
}

.conteudo-secao {
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
}

.conteudo-titulo {
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.conteudo-paragrafo {
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.obs {
    color: red;
    font-size: 1.5rem;
}

.conteudo-links {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
    align-items: center;
}

.conteudo-links-titulo-2 {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: var(--fonte-primaria);
}

.conteudo-links-link {
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    border-radius: 8px;
    text-align: center;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
    font-weight: 600;

}

.conteudo-links-link:hover {
    font-size: 1.625rem;
    background-color: var(--cor-hover);
} 

.conteudo-imagem {
    width: 50%;
}

.rodape {
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    font-weight: 400;
    font-size: 1.5rem;
    padding: 23.64px;
    font-family: var(--fonte-secundaria);
    text-align: center;
}

@media (max-width: 1200px) {

    .cabecalho {
        padding: 10%;
    }

    .cabecalho-menu {
        justify-content: center;
    }

    .conteudo {
        flex-direction: column-reverse;
        padding: 5%;
    }
    
    .conteudo-secao {
        width: auto;
    }


}

